trash
server
vendors
MEDIAS
keys
release-signing.properties
dist/www/*
dist/platforms/*
dist/plugins/*
dist/hooks/*
js/ads.js
config.js
tos.txt
pp.txt
*.sh
*.php
*.xcf
*.svg
*.bkp
*.geany
*.log
*.aup
*_data
*.mid
